{% extends "layout.html" %}

{% block title %}
Tweet App
{% endblock %}

{% block content %}
<div class="container mt-4 flex-grow-1"><h2 class="text-center">Welcome to  Tweet App
     </h2></div>
{% comment %} <div class="container mt-4 flex-grow-1">
        <div class="row">
            <div class="col-md-3">
                <!-- Sidebar content (e.g., user info, links) -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">User Info</h5>
                        <p class="card-text mb-2">Welcome, {{ user.username }}!</p>
                        <a href="#" class="btn btn-secondary">Create Tweet</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9"> {% endcomment %}
{% endblock %}